[Unit]
Name=ipSendEmaild
Description=ipSendEmaild

[Service]
Type=simple
PIDFile=/run/ipSendEmaild.service
ExecStart=/usr/sbin/ipSendEmaild loop
ExecStop=/usr/sbin/ipSendEmaild clean

[Install]
WantedBy=multi-user.target
